h1{
    color: brown;
    background-color: blanchedalmond;

    border-width: 5px;
    border-top-style: solid ;
    border-left-style:dotted ;
    border-bottom-style:dashed ;
    border-bottom-style:double ;
    
}